[defaults]
host_key_checking = False
stdout_callback = yaml
retry_files_enabled = False
roles_path = ansible/roles
collections_path = ~/.ansible/collections
private_key_file = ansible/.ssh/id_ed25519
vault_password_file = ansible/.vault_pass

[persistent_connection]
command_timeout = 60
connect_timeout = 30
