[Server]
host = 0.0.0.0
port = 3080
images_path = /opt/gns3/images
projects_path = /opt/gns3/projects
auth = True
user = gns3
password = CHANGE_ME
console_start_port_range = 5000
console_end_port_range = 5999

[Qemu]
enable_hardware_acceleration = True
require_hardware_acceleration = False
